/* body */

* {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header */

.header {
    background: rgba(255, 144, 14, 0.1);
    position: absolute;
    width: 100%;
    height: 1200px;
    left: 0px;
    top: 0px;

}

/* navebar */

.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    /* margin-left: 228px; */
    align-items: center;


}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    /* position: absolute; */

}

ul {

    list-style: none;
    display: flex;
    gap: 25px;
}

ul li {
    font-weight: 500;
    font-size: 18px;
}

/* header part 2 */

.header-discription {
    text-align: center;
    width: 862px;
    height: 225px;
    margin-top: 118px;
}

.header-title {
    font-weight: 700;
    font-size: 64px;
}

.primary-peragraph {
    font-weight: 400;
    font-size: 16px;
    margin-top: 16px;
    color: #727272;
}

.btn-primary {
    width: 180px;
    height: 64px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    background: #FF900E;
    border-radius: 8px;
    margin-top: 32px;
    border: none;
}

.image1 {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 1134px;
    height: 551px;
    margin-top: 130px;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* main section */


/* section 1 */

.feature {
    margin-top: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 88px;
    margin-left: 200px;

}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.feature-discripton {
    width: 489px;
    height: 300px;
    margin-left: 73px;

}

.feature-title {
    font-weight: 500;
    font-size: 43px;
}

/* section 2 */

.section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;

}

.line {
    display: flex;
}

.margin {
    width: -5px;
    margin-left: 0;
    height: 89px;
    margin-right: 16px;
    border-left: 5px solid #FF900E;
    ;
}

.section2-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    margin-left: 0;
}

.section2-discription {
    line-height: 26px;
    height: 900px;
    width: 506px;
}

.mini-section-discription {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}

.mini-heading {
    font-weight: 600;
    font-size: 20px;
    margin-top: 60px;
    color: #131313;

}

.mini-section {
    line-height: 26px;
    padding: 42px;
    padding-top: 0;
}

.btn-primary-1 {
    width: 300px;
    height: 202px;
    /* text-align: center; */
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    background: #FF900E;
    border-radius: 15px;
    border: none;
    padding: 45px 42px;
    margin-left: 685px;
    margin-top: 861px;
    position: absolute;
}

.small {
    display: flex;
    font-size: 24px;
    margin-left: 50px;
}

/* section 3 */

.section3 {
    margin-top: 300px;
    margin-left: 150px;
}

.facts-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 83px 96px 0 220px;
    grid-gap: 30px;
}


.box {
    border: 1px solid #FF900E;
    border-radius: 8px;
    height: 240px;
    width: 240px;
    display: flex;
    flex-direction: column;
    background: #e7e6e6;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    transition: height 1s, width 1s, transform 1s;

}

.box:hover {
    height: 240px;
    width: 240px;
    transform: rotate(25deg);
    background-color: #FF900E;

}

.inter-box {
    text-align: center;
}

.facts-peragraph {
    font-weight: 600;
    font-size: 20px;
}

.facts-heading {
    font-weight: 600;
    font-size: 45px;
    color: #131313;
}

.primary-peragraph1 {
    font-weight: 400;
    font-size: 16px;
    margin-top: 16px;
    color: #727272;
    width: 542px;
    height: 52px;
    margin-left: 0px;
}

/* section4 */

.section4 {
    margin-top: 180px;
}

.sponsor {
    width: 542px;
    height: 129px;
    text-align: center;
}

.sponosrs-image {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 49px 120px 0px 120px;
    grid-gap: 100px;
}

/* section 5 */

.section5 {
    width: 1079px;
    height: 165px;
    background-color: #FFF4E7;
    text-align: center;
    margin-top: 65px;
    padding: 31px 105px;
    border-radius: 10px;
}

.footer {
    width: 1440px;
    height: 100px;
    background: #FFF4E7;
    border-radius: 8px;
    color: #424242;
    font-weight: 400;
    font-size: 20px;
    margin-top: 162px;
    margin-bottom: 167px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ===========================================
media query for responsive the website
============================================== */

@media screen and (max-width : 567px) {
    .header {
        height: 1000px;
    }

    .image1 {
        width: 88%;
        height: 277px;
        margin-top: 240px;
    }

    .header-discription {
        width: 100%;
    }

    .navbar {
        display: flex;
        margin-top: 50px;
        margin-right: 13px;
        flex-direction: column;
    }

    .nav-title {
        margin-bottom: 24px;
        margin-left: 61px;
    }


    /* section 1 media query css*/


    .feature {
        display: flex;
        margin-top: 1068px;
        flex-direction: column;
        width: 100%;
        margin-left: 0px;
    }

    .images {
        display: grid;
        grid-template-columns: 1fr;
    }

    .feature-discripton {
        width: 354px;
        margin-top: 50px;
        margin-left: 10px;
    }

    .primary-peragraph1 {
        width: 300px;
        height: 60px;
        margin: auto;
        padding-top: 20px;
    }


    /* section 2 media query css */

    .section2 {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 100px;
        width: -55px;
    }

    .image2 img {
        margin-top: 225px;
        width: 100%;
    }

    .section2-discription {
        width: 90%;
    }

    .btn-primary-1 {
        width: 292px;
        height: 180px;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 65px;
        background: #FF900E;
        border-radius: 15px;
        border: none;
        padding: 45px 42px;
        margin-top: 1481px;
        margin-left: 0px;
        position: absolute;
    }

    /* section 3  media query css*/

    .section3 {
        margin-top: 150px;
        margin-left: 0px;
        text-align: center;
    }

    .facts-box {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 23px;
        width: 100%;
        margin-left: 0;
    }




    /* section 4 media query css */

    .section4 {
        margin-top: 100px;
    }

    .sponsor {
        width: 90%;
        height: 250px;
        text-align: center;
    }

    .sponosrs-image {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 80px;
        margin: 0;
    }

    /* section 5 media query css */

    .section5 {
        width: 90%;
        background-color: #FFF4E7;
        text-align: center;
        margin-top: 65px;
        padding: 32px 0;
        border-radius: 10px;
        padding-bottom: 126px;
    }

    /* footer media query css*/

    .footer {
        width: 348px;
        height: 136px;
        font-size: 11px;
        margin-top: 100px;
        margin-bottom: 100px;
    }

}